<div ng-controller="AboutController">

	<h2>Om spotocracy</h2>
	<div class="well well-lg">Spotocracy er demokratisk spotify. PC-en som skal spille av musikken, starter opp spotocracy-spotify-appen, og kobler appen opp spillelisten. Deretter kan brukerne gå til denne nettsiden for å legge til låter. Spotify vil spille av sangen på toppen av spillelisten når den har spilt ferdig en låt. Ikke ulikt en jukseboks eller danseband-svisj! Brukere får 5 stemmer hver halvtime.</div> 
	<div>Last ned midlertidig app i .apk-format <a href="static/app/spotocracy.apk">her</a></div>

 	<h2>FAQ</h2>

  <accordion close-others="oneAtATime">
    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
      {{group.content}}
    </accordion-group>
  </accordion>

</div>