<div ng-controller="PlaylistController">

	<div class="panel panel-default">
		<div class="panel-body">Du har {{userVotes}} stemmer.</div>
		<div class="panel-body" ng-show="currentArtist">Spiller nå: <strong>{{currentArtist}}</strong> - {{currentSong}}</div>
	</div>

	<h2>Spillelisten</h2>

	<div ng-show="result" class="alert alert-success">{{result}}</div>
	<div ng-show="error" class="alert alert-danger">{{error}}</div>
	<div ng-show="!result && !error" class="well">Stem på
			låter ved å klikke på låten.</div>

	<div class="list-group">
	
		<div ng-hide="songs" class="panel panel-default">
			<div class="panel-body">Du har ikke lagt til noen låter i spillelisten enda. Klikk søk på toppen for å søke opp låter du vil legge til.</div>
			
		</div>
	
		<a href='#/playlist' class="list-group-item" popover="Klikk for å stemme!" popover-placement="left" popover-trigger="mouseenter" ng-repeat="song in songs"
			ng-click="boostTrack(song.uri, song.artist, song.song)"> 
			
			
			<div class="row">
				<div class="col-md-4"><strong>{{song.artist}}</strong> - {{song.song}}<strong></div>
				<div class="col-md-6"><progressbar value="(song.score/totalVotes) * 100"><span style="color:black; white-space:nowrap;"></progressbar></div>
				<div class="col-md-2"><span class="badge">{{song.score}}</span> </div>
			</div>
			
			
		</a>
	</div>


</div>