<div ng-controller="SearchController">

	<h2>Spotify-søk</h2>

	<form ng-submit="fetch()">
		<label for="spotitySearchBox">Klikk på søkeresultatet for å
			legge til i spillelisten</label> 
			<input id="spotitySearchBox"
			class="form-control" type="search" ng-model="searchKeyword"
			placeholder="Søk etter band/artist eller låt" /><br />
		<button class="btn btn-default" id="fetchbtn"
			ng-click="searchSpotify()">Søk</button>
		<br>
	</form>

	<div ng-show="status" class="alert alert-success">{{status}}</div>
	<div ng-show="error" class="alert alert-danger">{{error}}</div>

	<div class="list-group">
		<a href='#search' ng-click="addTrack(track.href)" class="list-group-item"
			ng-repeat="track in tracks | limitTo:10">
			{{track.artists[0].name}} - {{track.name}} </a>
	</div>
</div>